@if (userSpending) {
<div class="summary-stats">
    <h1>Spending Summary as of {{ today | date:'MM/dd/yyyy' }}.</h1>
    <p>Total Year-to-Date: {{ userSpending.spending_ytd | currency }}</p>
    <p>Average Monthly (YTD): {{ userSpending.spending_month | currency }}</p>
</div>

<div class="misc-stats">
    <h1>Non-Card Spending</h1>
    <p>Year-to-Date: {{ miscSpendingDisplay | currency }}</p>

    <input type="text" [formControl]="miscValueControl" placeholder="Update misc spending" />
    <button type="button" (click)="handleMiscSpendCancel()">Cancel</button>
    <button type="button" (click)="handleMiscSpendSubmit()">Update</button>
</div>

<div class="cards-stats">
    <h1>Cards</h1>
    <ul class="cards-container">
        @for (card of cardList; track card.name) {
        <li class="card">
            <img [ngSrc]="card.imageUrl" alt="{{ card.name }}" width="300" height="200">
            <p>{{ card.name }}</p>
            <p>{{ cardSpendingDisplay(card) | currency }} / {{ cardLimitDisplay(card) | currency }}</p>

            <input type="text" [formControl]="cardControls[card.key].spending" placeholder="Update card spending" />
            <button type="button" (click)="handleCardCancel(card)">Cancel</button>
            <button type="button" (click)="handleCardSpendSubmit(card)">Update</button>

            <input type="text" [formControl]="cardControls[card.key].limit" placeholder="Update card limit" />
            <button type="button" (click)="handleCardCancel(card)">Cancel</button>
            <button type="button" (click)="handleCardLimitSubmit(card)">Update</button>
        </li>
        }
    </ul>
</div>
}